.sidebar {
  width: 250px;
  min-height: calc(100vh - 56px);
  transition: width 0.3s ease;
}

.main-content {
  flex-grow: 1;
  transition: all 0.3s ease;
}

.main-content.expanded {
  width: calc(100vw - 250px);
}

/* Makes sure toggle button stays on top */
.z-top {
  z-index: 1050;
  position: relative;
}
