.vs

src/Backend/Application/Data/bin/
src/Backend/Application/Data/obj/
src/Backend/Application/WebAPI/bin/
src/Backend/Application/WebAPI/obj/
src/Backend/Application/Services/bin/
src/Backend/Application/Services/obj/
src/Backend/BlueprintX.Core/bin/
src/Backend/BlueprintX.Core/obj/
