.hero-section {
    height: 90vh;
    background-image: url('/images/home-bg.jpg');
    // background-image: url('https://picsum.photos/1920/1080');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}