body.custom-body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
}

.about-section {
  background-color: #343a40;
}

.card {
  transition: transform 0.2s ease-in-out;
}
.card:hover {
  transform: translateY(-5px);
}
